@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{

    background: #6c5ce7;
}
.main-container{
    max-width: 100%;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}
header input{
    padding: 10px 10px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgb(85, 85, 85);
    outline: none;
    font-size: 1.4rem;
    width: 500px;
    padding-left: 15px;


}
header input::placeholder{
    color:rgb(85, 85, 85);
}
.movies-container{

    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: center ;

}

.movie-box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 1rem;
    background-color:#686de0;
    margin-bottom: 8rem;

}
.movie-title{
    height: 100px;
    background-color:#9194f0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
.overview{

    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    overflow: auto;
    transform: translateY(100%);
}

.movie-box:hover .overview{
    position: absolute;
    background-color: white;
    opacity: 100;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    transform: translateY(0%);
}

.overview p{
    text-align: justify;
    margin: 1rem;

}
.overview h3{
    margin-left: 1rem;

}
.red{
    color: red;
    background-color: black;
    padding: 10px;
    text-align: center;
}
.green{
    color: rgb(12, 233, 12);
    background-color: black;
    padding: 10px;
    text-align: center;
}
.yellow{
    color: rgb(252, 252, 10);
    background-color: black;
    padding: 10px;
    text-align: center;
}